email=45467+stefanhoth@users.noreply.github.com
--init-author-email=45467+stefanhoth@users.noreply.github.com
--init-author-name=Stefan Hoth
--init-license=MIT
//registry.npmjs.org/:_authToken=$NPM_TOKEN
